.template-object{  
  margin-bottom: 10px;
  transition: all 0.3s ease;
  background:#fff;
  display:flex;
  flex-direction: column;
  gap:15px;
  border:1px solid $border;
  border-radius:2px;
}

.template-item__header{
  cursor: row-resize;
  display:flex;
  flex-direction: row;
  align-items:center;
  padding:15px;
  gap:10px;
  background:$white-smoke;
  border-bottom:1px solid $border;
}

.template-item__title{
  font-size:16px;
  font-weight:bold;
  display:flex;
  flex-direction: row;
  gap:10px;
  align-items:center;
}

.template-item__controls{
    margin-left: auto;
    display:flex;
    flex-direction: row;
    gap:10px;
}

.template-item__body{
  padding:5px 15px 15px 15px;
}

.template-object--edit-mode{
  // border:2px solid $keppel;
  // box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.template-item__header--list{
  padding:12px;
}

.template-item__header--list .template-item__title{
  font-size:14px;
}