.template-object{  
  margin-bottom: 10px;
  transition: all 0.3s ease;
  background:#fff;
  display:flex;
  flex-direction: column;
  gap:15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.template-item{
    cursor: row-resize;
    padding: 10px;
    margin-bottom: 10px;
    transition: all 0.3s ease;
    background:#fff;
    display:flex;
    flex-direction: column;
    gap:15px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.template-item__header{
  cursor: row-resize;
  display:flex;
  flex-direction: row;
  align-items:center;
  padding:15px;
  gap:10px;
  border-bottom:1px solid $border;
}

.template-item__title{
  font-size:14px;
  font-weight:bold;
}

.template-item__drag{
    // margin-left: auto;
}

.template-item__controls{
    margin-left: auto;
    display:flex;
    flex-direction: row;
    gap:10px;
}

.template-item__body{
  padding:5px 15px 15px 15px;
}

.template-object--edit-mode{
  border:2px solid $keppel;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
