a {
    text-decoration:none;
}

a:visited{
  color:$gunmetal;
}

// Breadcrumb Styling

.breadcrumb{
  @include flex(flex, row, $gap:5px);
  align-items:center;
  list-style-type: none;
  margin:0px;
}

.breadcrumb-item::after{
  content:" /"
}

.breadcrumb-item:last-child::after{
  content:none;
}

// Temp until form components are build

.form-title{
    border-bottom:1px solid #ccc;
    padding-bottom:15px;
    margin-top:-2px;
    margin-bottom:15px;
    font-size:15px;
}

.form-group{
    display:flex;
    flex-direction: column;
    gap:6px;
    margin-bottom:15px;
}

.form-control {
    background-color: white;
    border:1px solid $border;
    padding:10px;
    border-radius:2px;

    &--textarea{
        min-height:200px;
    }

    &--select{
        padding-right:15px;
    }
}

select {

    /* styling */
    background-color: white;
    display: inline-block;
    // line-height: 1.5em;
    padding: 0.5em 3.5em 0.5em 1em;
  
    /* reset */
  
    margin: 0;      
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

.form-control--select {
        background-image:
          linear-gradient(45deg, transparent 50%, gray 50%),
          linear-gradient(135deg, gray 50%, transparent 50%),
          linear-gradient(to right, #ccc, #ccc);
        background-position:
          calc(100% - 20px) calc(1em + 2px),
          calc(100% - 15px) calc(1em + 2px),
          calc(100% - 2.5em) 0.5em;
        background-size:
          5px 5px,
          5px 5px,
          1px 1.5em;
        background-repeat: no-repeat;
      }
      
.form-control--select:focus {
        background-image:
          linear-gradient(45deg, green 50%, transparent 50%),
          linear-gradient(135deg, transparent 50%, green 50%),
          linear-gradient(to right, #ccc, #ccc);
        background-position:
          calc(100% - 15px) 1em,
          calc(100% - 20px) 1em,
          calc(100% - 2.5em) 0.5em;
        background-size:
          5px 5px,
          5px 5px,
          1px 1.5em;
        background-repeat: no-repeat;
        border-color: green;
        outline: 0;
      }

      .form-control--select:-moz-focusring {
        color: transparent;
        text-shadow: 0 0 0 #000;
      }
