.template-object{  
  @include flex(flex, column, $gap: 15px);
  margin-bottom: 10px;
  transition: all 0.3s ease;
  background:#fff;
  border:1px solid $border;
  border-radius:2px;
}

.template-item__header{
  @include flex(flex, row, $gap: 10px);
  align-items:center;
  padding:12px;
  background:$white-smoke;
  border-bottom:1px solid $border;
}

.template-item__title{
  @include flex(flex, row, $gap: 10px);
  font-size:16px;
  font-weight:bold;
  align-items:center;
}

.template-item__controls{
  @include flex(flex, row, $gap: 10px);
  margin-left: auto;
}

.template-item__body{
  padding:5px 15px 15px 15px;
}

.template-object--edit-mode{
  // border:2px solid $keppel;
  // box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.template-item__header--list{
  padding:12px;
}

.template-item__header--list .template-item__title{
  font-size:14px;
}